# Compiled source #
###################
*.pyc
*.aux
*.log
*.gz
 
#Ignore Directories#
Data/
OldWork/
ReportWithGraphLang/
scratch/
Report/
ReportPRE/
ReportData/
ReportDataPRE/
MuriMeetingPoster/


#OS Files#
######################
.DS_Store

#Nohup#
######################
nohup.out